<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>artistName</key>
		<string>스테디</string>
		<key>songName</key>
		<string>처음 보는 나</string>
		<key>lyric</key>
		<string>널 바라보는 순간이 갈 수록 길어지는</string>
	</dict>
</array>
</plist>
