<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>artistName</key>
		<string>SUPERBEE</string>
		<key>songName</key>
		<string>+82 Bars</string>
		<key>lyric</key>
		<string>+82 bars 
찢어 니 verse 
나는 랩전설 한국힙합 다시 건설 
who wanna battle me 
you better be flatterin&apos; me 
우린 너무 달라 Lv이 yuh 
가짜친구들 끼리 끼리 
frenemy ship 
나는 못 끼지 배멀미 shhh 
니들 눈엔 너무 재섭지 
축제 시즌까지 해적질 
huh i&apos;m gonna be a legend 
이제야 끝낸 기분야 1회전 ouu 
얘넨 1 2년은 걸린대 
고작 그 앨범을 위해서 
i mean like what 
재능도 없지 그냥 퍼 놀지 
래퍼라 치기도 뭐해 
날 따라 잡을람 더해 
back mirror에서 봐 너넬 
look 2017 띠는 벌띠 
gucci supreme bee 
back pack을 멘 채 
날아 멀리 나는 몰라 범윌 
2G 3G 4G 
다음은 Original Gimchi hoo 
난 알아 벌 일 
왜냐면 이건 벌 일  
또한 천재들의 원리 
24 내 머리속에 흘러 전기 윽 
walkin in seoul like a ross 
don&apos;t tryna flex on me yuh 
난 니네 수입을 다 알어여 
척보면 X O 지요 
i think they get no money 
앵벌이 or 엥 벌이야 
그게 사실이면 
공연장엔 왜 없지 hmm 
다음 차는 drop top 
말도 걸지말어 나는 바빠 
가짜들은 hop out my car 
밀린 돈이나 갚아 
ima go hard 너는 go home 
이 짓 빼곤 안들어 보험 
나는 필요가 없어 로션 
예의 발라 that&apos;s f&apos;sho 
수영 수영 수영 money ocean 
gettin cheeze for my emotion 
크게 웃어 웃어 i&apos;m happy 
그렇다고 왜 니가 bad feels 
ha-ha-ha 
i&apos;m a new species 
내가 넘 밉지 그래도 쉬쉬 
조용히 있지 왜냠 너도 알거든 
랩으론 안돼 GGyeah 
imagine over image 
난 그림 그려 넌 CG 
혼자 집에서 배터리 갈아끼지 
모두 다 기계들이니 yuh 
ghood life how i live 
we rock the show 바위 hhh 
너는 눌려 가위 hhh 
또 이겨 like khaled ouu 
i was naive yeah 
그때 술자리에 
가지 않았담 너흴 respect 
했을까 아직 퉤 
i just go go get it 
너희완 달라 너무 나의 길이 
영원히 나의 뒤지 여리 소심히 
이 몸의 실패를 염원할 뿐이니 
who 난 널 몰라 진짜 하나두   
사실 알 필요두 없구 
i&apos;ve come a long way 
신촌 geek에서 5만원 모아갖구 
공연했던 시절이 ayy 
물론 이 얘긴 과거지 ouu 
나는 안해 감성팔이 yeah 
안해본 게 알바니 yeah 
sky&apos;s the limit like BIG 
앞 길이 아직 많이 남았지 
난 안 취하지 오직 취하지 
get get get it get 바삐 
비탈길도 날 피하지 
목걸이 팔찌 반지 모두 빙하기 
815에 일장기처럼 
hunnid motherfuckers you DIE 
uh i&apos;m a rap legend 
과부화가 걸려 터진 potential 
주역이 돼 24 넌 내 패널 
하라구 못하는 랩이나 계속 hahaha 
한번에 2장의 앨범 
전설이 될려면 내 행보를 베껴 
wakey wakey wack mc&apos;s 깨워 
아니 다시 재워 이불을 줘 
아니 뺏어 yeah 
2 - 1같이 always i&apos;m ill 
yuh i keep it 100 save&apos;em benjamins 
hoo 날 욕해도 원해 내가 되길  
왜냐면 내 차는 마세라티 
너넨 라세티 damn 
참 경쟁자도 없구만 다들 꼴이 체 
그 짧은 돈과 인기에 한병만에 취해
멍청이 fan은 믿어
가짜 money swag
가래를 퉤 백명이 넘어가는 애들
copy my flow
목엔 큐빅 diamonds
스뎅 chain차고 flex 타령
그럴바엔 벗어 그냥 시원하게
그게 뭐라고 척까지 하고 다녀
우린 100억짜리 빌딩을 짓자고
꿈만 있으면 할 수가 있다고
야망을 공유하던 친구는 이미
만족을 해버렸구
말뿐인 포부였다고
damn 혼자가 됐어 이젠
세제로 눈을 씻어도 where uh
내 몸에 지폐향 flavor
i&apos;m a true playa slayer
언급도 싫지만 haters
er붙어 그것도 직업이라매요
일같지도 않은 일이네요
숨쉬는 기계여 
yuh 내가 이기는 모습이
너무 싫어 너넨
날 끌어내려
니네 열등감을 지우려해
허나 내가 붙잡을 수도 없이
높이 날아감
딴 세계 사람이니깐
하곤 경쟁을 놓지
그때 아마 넌 날 사랑할걸
bill gates보단 내 삶이 밉듯이
현대판 노예
니 족쇄는 키보드 줄이지
huh 난 이걸 걍 재미삼아
했는데 지금 날 보니
완전 새로운 유전자를 갖고서
랩을 위해 태어났었나봐 hhh
현실엔 상대가 없어 눈감아
허나 멈춘다면 죽음이야 난
josh와 mark의 야망
우리가 한 얘긴 뉴욕 빌딩보다
커질거야 아마 ay
우리 부모님은 hustlers
나는 많았어 용돈
이런 얘길 숨겨야
너희들 지지를 받겠지만요
fuck u all
이건 another get it another get it
내 딸이 내 아들이
다이아 수저지 i mean it ay
+ mothafuckin 연예인 ay
shout out to gimchihillgang
우린 brudah 사업안에
till we rich gang gang hoo
shout out to ghoodlifecrew
우린 family 사업안에
till we take this +82 +82 bang</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>수호</string>
		<key>songName</key>
		<string>Made in you</string>
		<key>lyric</key>
		<string>참 우린 신기한 듯해
이 넓은 우주 안에
마치 운명처럼 서롤 알아보고
말없이 날 감싸주고
따스한 손을 내밀어 oh yeah
함께 걸어갈 수 있는 네가 있기에
두렵지 않아
Cuz you know that without you
난 빛날 수 없는 걸
So I I’m made in you
Girl you make me one of a kind
나는 오직 너를 비추기 위한 star
I I’m made by you
내가 빛나는 이유
너란 태양이 바라봐 주기 때문에
참 나도 신기한 듯해
너와 함께 있을 때
비로소 살아 있음을 난 느끼게 돼
영원이란 게 있다면
너와 내 얘기일 거야 oh yeah
지금처럼 네가 있어 주면 충분해
너 하나면 돼
Cuz you know that without you
지금의 난 없는 걸
So I I’m made in you
Girl you make me one of a kind
나는 오직 너를 비추기 위한 star
I I’m made by you
내가 빛나는 이유
너란 태양이 바라봐 주기 때문에
하나만 약속해줘
항상 옆에 있어 줄래
Girl I’ll be there
I feel the love from you tonight
So I I’m made in you
Girl you make me one of a kind
나는 오직 너를 비추기 위한 star
I I’m made by you
내가 빛나는 이유
너란 태양이 바라봐 주기 때문에
You know that I’m made in you
Know that I’m made in you
You know that I’m made in you</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>스테디</string>
		<key>songName</key>
		<string>처음 보는 나</string>
		<key>lyric</key>
		<string>널 바라보는 순간이
갈수록 길어지는
나를 발견하게 됐을 때
두근거려 오는 너와
눈 마주치는 순간
피해버리는 내 떨림에
나도 놀라서 얼버무리는 내 모습이
너에게 보여준 나의 유일한 맘
말을 하려 해도
막 뒤엉키는 준비한 고백은
한 번도 보지 못한 답답한 내 모습
널 사랑하기 전 나만큼만
우연히 친구 만날 때처럼만큼만
조금 더 침착하게 조금 더 솔직하게
너만을 위해 꼭 해주고 싶던 말
사랑해
아무도 몰라 나 혼자만이 고민했던
니 생각 니 걱정들이 버거워서
말을 하려 해도
막 뒤엉키는 준비한 고백은
한 번도 보지 못한 답답한 내 모습
널 사랑하기 전 나만큼만
우연히 친구 만날 때처럼만큼만
조금 더 침착하게 조금 더 솔직하게
너만을 위해 꼭 해주고 싶던 말
사랑해
너의 거절도 생각해 봤지만
담아 두기에는 늦은 것 같기에
널 사랑하기 전 나만큼만
우연히 친구 만날 때처럼만큼만
조금 더 침착하게 조금 더 솔직하게
너만을 위해 꼭 해주고 싶던 말
사랑해
사랑해</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>CRAVITY</string>
		<key>songName</key>
		<string>별</string>
		<key>lyric</key>
		<string>가끔씩 길을 잃을 때면
저 하늘의 별을 봐 넌 왠지
모든걸 아는 것만 그런 것만 같아서
뭐든 다 말해도 넌 받아줄 것 같아서 yeah
복잡해진 마음 따라 하염없이 걷다 보면
아무 생각 없이 앞만 보고 
달리는 내 모습을 봐
나 정말 잘하고 있는 걸까
내가 가는 이 길이 맞는 걸까
때론 아무것도 모르겠어
별들에게 물어 난 am I right right
하늘 가득히 수 놓인 저 많은 별들 중에
너는 나만의 빛 you’re my light oh
같은 꿈을 꾸고 같은 곳을 바라보며 걷는
그런 우리가 되길
내가 무너질 때면
내 손을 잡아줬던 너 나와 함께 해준 너
달빛 마저 무뎌진
그 밤을 밝혀줬던 너 나를 비춰줬던 너
넌 별 별 저 별 별 
날 지켜주고 이끌어줬던 별
You’re my star
넌 별 별 저 별 별 
너만 곁에 있어준다면 나 그 별이 될 거야 
때로는 헷갈려 잘 걷다가도
나침반 없는 배처럼 잃은 항로
비틀거리며 고개를 들고서
북극성을 찾아 헤매어 또 너를 불러
Where you at where you at my star
네가 없는 난 날개 잃은 천사
I keep on fallin’ fallin’ without you
내 길을 밝혀줘
하늘 가득히 수 놓인 저 많은 별들 중에
너는 나만의 빛 you’re my light oh
같은 꿈을 꾸고 같은 곳을 바라보며 걷는
그런 우리가 되길
내가 무너질 때면
내 손을 잡아줬던 너 나와 함께 해준 너
달빛 마저 무뎌진
그 밤을 밝혀줬던 너 나를 비춰줬던 너
언젠간 그 별이 되어 너의 곁에 갈 거야
그때가 되면
말할게 보고싶었다고 많이 그리웠다고
고마웠다고
넌 별 별 저 별 별 
날 지켜주고 이끌어줬던 별
You’re my star
넌 별 별 저 별 별 
네가 반짝일 수 있는 밤이 될게
이젠 내가 너를 지켜줄게
넌 별 별 저 별 별 
너만 곁에 있어준다면 나 그 별이 될 거야 
그 별이 될 거야</string>
	</dict>
</array>
</plist>
